* {
    padding: 0;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "MuseoSans-700";
    src: url(fonts/Museo700-Regular.otf);
}

@font-face {
    font-family: "MuseoSans-900";
    src: url(fonts/museo-sans-900.woff);
}

header {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('img/background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-brand {
    float: none;
    margin-top: -0.5%;
    min-height: fit-content;
}

.navbar {
    margin-left: 14%;
    margin-top: 0%;
    
}

.navbar-nav.nav-left li {
    float: none;
    list-style: none;   
    border-bottom: 4px solid;
    border-color: transparent;
    padding: 0px 5px;
}

.navbar-nav.nav-left li a {
    color: white;
    text-decoration: none;
    padding: 2px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-style: bold;
    display: inline-block;
    border-bottom: 4px solid;
    border-color: transparent;
}

.navbar-nav li.active a {
    border-bottom: 4px solid #fff;
}

.navbar-nav li a:hover {
    border-bottom: 4px solid #fff;
}

#logincontent
{
    margin-top:-2%;
}

#logincontent button
{
    font-size: 16px;
    color: white;
    border-color: white;
    padding: 15px 25px;
    border-radius: 5px;
    display: inline-block;
    background: none;
    border: transparent;
}


#signup:hover {
    background-color: white;
    cursor: pointer;
    color: blue;
}

#signin:hover
{
    background: rgb(7, 40, 184);
    cursor:pointer;
}

#content h1 {
    color: white;
    float: center;
    font-size: 80px;
    font-family: 'MuseoSans-900';
    margin-top: 4%;
    margin-left: 15.5%;
    position: relative;
}

#content p {
    color: white;
    float: center;
    font-size: 20px;
    font-family: "MuseoSans-700";
    margin-top: 2%;
    margin-left: 15.5%;
}

.create button {
    float: center;
    margin-top: 3%;
    margin-left: 15.3%;
    border-radius: 19px;
    padding: 20px 50px 20px 50px;
    background-color: rgb(238, 101, 101);
    border-color: transparent;
    font-family: "MuseoSans-900";
    font-size: 20px;
    color: white;
}

.create button:hover {
    background-color: rgb(241, 79, 79);
    cursor: pointer;
}

.page {
    border-radius: 5px;
    margin-top: 0%;
    margin-left: 15.5%;
    padding-bottom: 20px;
}

.page input[type="radio"]:checked {
    background-color: #0043ff;
    top: 12.5px;
    height: 20px;
    width: 20px;
    border: 5px solid #f7bb07;
}

.page input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #4677ff;
    color: #4677ff;
    top: 10px;
    height: 15px;
    width: 15px;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
    margin-right: 2%;
    outline: none;
}

@media all and (max-width:1200px) {
    .container.jumbotron.text-center {
        margin-left: -2%;
        margin-top: 0%!important;
        max-width: 108px;
    }
    .nav.navbar-nav.nav-left li.active a {
        margin: 0.1em auto;
        border-bottom: auto;
    }
    .nav.navbar-nav.nav-left li a {
        margin: 0.1em auto;
    }
    .iframe-container
    {
        margin-top:5%!important;
        width: 70%;
        height: 30%!important;
        margin-left:28%!important;
      }
      .iframe-container iframe
      {
        top:0;
        left: 0%;
        width: 70%;
      } 
}

.container.jumbotron.text-center {
    background-color: transparent;
    padding: 5px 5px;
    width: 28%;
    margin-top:2.3%!important;
    margin-top: inherit;
    justify-content: center;
    position: relative;
    min-width: max-content;
}

#modalsignin {
    background-color: blue;
    margin-right: 43%;
}

#agreement {
    margin-top: -10%;
    margin-left: 5%;
}

#karusele {
    margin-top: -2.5%;
}

.carousel-inner>.carousel-item>img {
    height: 85.8vh;
}

#content h4 {
    color: white;
    float: center;
    font-size: 27px;
    font-family: "MuseoSans-700";
    margin-top: 0%;
    margin-left: 16%;
}
.iframe-container
{
    margin-left:18%;
    margin-top:3%;
}
#mynav
{
    min-width: fit-content;
}

#mytable caption
{
    color: red;
    font-weight: bold;
    font-size: 30px;
}

#mytable
{
    min-width: fit-content;
    width: 65%;
    opacity: 0.5;
    margin-left:16%;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.invalid input:required:invalid {
    background: #BE4C54;
  }
  
  /* Mark valid inputs during .invalid state */
  .invalid input:required:valid {
    background: #17D654;
  }

 #dropdownMenu
 {
     background-color: transparent;
     border: none;
 }

 #dropdownMenu:hover
 {
     background-color: rgb(33, 88, 240)
 }

 #dropmenu
 {
     background-color: white;
     width: 40px!important;
 }

 #reportmain h1
 {
    background: linear-gradient(to right, rgb(255, 0, 0) -40%, #d9ff00 60%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;   
     font-size: 70px;
     font-family: "MuseoSans-900";
 }

 #reportmain h2
 {
    background: linear-gradient(to right, rgb(200, 255, 0) -40%, #ff00aa 60%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 50px;
    font-family: "MuseoSans-700";
 }

 #reportmain
 {
     margin-left: 15%;
 }
 
 #reportmain button
 {
   margin-top: 5%;
   width: 20%;
   height: 7vh;
   background: linear-gradient(to right, rgb(200, 255, 0) -20%, #ff00aa 100%);
   border: none;
   color: white;
   font-weight: bold;
 }

 .navbar-nav
 {
     min-width: fit-content;
 }